doctype html
html
  head
    title Signup
  body
    h1 Signup
    form(action='/signup', method='POST')
      label(for='username') Username:
      input(type='text', name='username', required)
      br
      label(for='password') Password:
      input(type='password', name='password', required)
      br
      button(type='submit') Signup
    br
    a(href='/login') Already have an account? Login
