.home-container {
  max-width: 800px;
  margin: auto; 
  padding: 20px;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.blog-content {
  color: #555; 
  margin: 10px 0;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
}

hr {
  border: none;
  height: 1px; 
  background-color: #e0e0e0; 
  margin: 20px 0; 
}

h3 {
  color: #333;
  margin: 0;
}


.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-container input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.blog-post {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.blog-post:hover {
  background-color: #f9f9f9;
}

.blog-content {
  color: #555;
}
