<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          
          <form [formGroup]="loginForm">
           
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 authHead">LOG IN</p>
            </div>
  
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Email address</label>
              <input type="email" id="form3Example3" class="form-control form-control-xl"
                placeholder="Enter a valid email address" formControlName="email" />

                <div class="text-danger">

                  @if(loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['required'])
                  {
                      <span>This is Required</span>
                  }
                  @else if(loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['email']){
                      
                      <span>Enter a valid email</span>
                  }
              </div>
     
            </div>
  
            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-3">
                <label class="form-label" for="form3Example4">Password</label>
              <input type="password" id="form3Example4" class="form-control form-control-xl"
                placeholder="Enter password"  formControlName="password"/>

                <div class="text-danger">

                  @if(loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required'])
                  {
                      <span>This is Required</span>
                  }
                  @else if(loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['minlength']){
                      
                      <span>Password should be minimum 4 characters</span>
                  }
              </div>
            </div>
            
            <div class="d-flex justify-content-between align-items-center">
            

            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">

              <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                style="padding-left: 2rem; padding-right: 2rem;font-size: 16px;" (click)="onSave()">Login</button>

              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? 
                <a  class="link-danger" routerLink="/register">Register</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
 
  </section>